input {
  outline: none;
}

i {
  outline: none;
}

h1{
	color: #2380E2;
	font-family: sans-serif;
}

.jumbotron{
	background-color: #dcdcdc;
	text-align: center;
	border-radius: 2px;
}

/*
md-card {
  max-width: 15em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 8px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}*/
/*
.md-button {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}*/

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }


#wishlist #searchResults .md-padding {
  flex-wrap: wrap;
  display: flex;
}

#logo {
  width: 325px
}

#banner {
  position: absolute;
  float: left;
}

