input {
  outline: none;
}

i {
  outline: none;
}

h1{
	color: #2380E2;
	font-family: sans-serif;
}

.jumbotron{
	background-color: #dcdcdc;
	text-align: center;
	border-radius: 2px;
}

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }

#lists .md-padding {
  flex-wrap: wrap;
  display: flex;
  background-color: #dcdcdc;
}

#searchResults .md-padding {
  flex-wrap: wrap;
  display: flex;
}

#logo {
  width: 375px
}

#banner {
  position: absolute;
  float: left;
}

#login-banner {
  position: absolute;
}

.wrapper {
    text-align: center;
}

.boxes {
    position: relative;
    top:150px;
}

.reviewBox{
  margin: auto;
  text-align: center;
  max-width: 20em;
  border: 1px solid black;
}

.reviewTextBox {
  margin: auto;
  align-self: center;
  display: block;
  border: 1px solid;
  width: 10em;
  height: 14em;
}

.restaurantTile {
  width: 15em;
}

.restaurantImg {
  width: 90%
}

.addBtn {
  background-color: green;
  color: white;
  font-weight: bold;
}

.infoBtn {
  background-color: #2380E2;
  color: white;
  font-weight: bold;
}

.material-icons {
  cursor: pointer;
}

form {
  margin: 10px;
}




