<div id="banner">
  <img id="logo" src="../assets/forked-logo-with-fork-exp.jpg">
</div>
<div class="jumbotron" ng-controller="MainCtrl">
  <h1>{{welcomeMain}}</h1>
    <md-input-container>
        <label>Restaurant: </label>
        <input ng-model="searchInput.term">
  </md-input-container>
  <md-input-container>
        <label>City: </label>
        <input ng-model="searchInput.location">
  </md-input-container>
  <i class="material-icons" ng-click='submitSearch()'>search</i>

<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="wishlist">
        <md-content class="md-padding">
          <h1 class="md-headline">Wishlist</h1>
            <div id="wishlist" class="card" ng-cloak ng-model="mainServerReply">
              <div class='md-padding' layout="row" flex>
                <md-card style="width: 350px;" ng-repeat="restaurant in mainServerReply | filter:{visited:false}" flex>
                <md-card-content>
                  <h3>{{restaurant.name}}</h3>
                  <img src='{{restaurant.image}}'>
                  <p>{{restaurant.rating}}</p>
                  <p>{{restaurant.categories[0][0]}}</p>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="end center">
                  <md-button>Review</md-button>
                </div>
                </md-card>
              </div>
            </div>
        </md-content>
      </md-tab>
      <md-tab label="been there">
        <md-content class="md-padding">
          <h1 class="md-headline">Been There</h1>
            <div id="wishlist" class="card" ng-cloak ng-model="mainServerReply">
              <div class='md-padding' layout="row" flex>
                <md-card style="width: 350px;" ng-repeat="restaurant in mainServerReply | filter:{visited:true}" flex>
                <md-card-content>
                  <h3>{{restaurant.name}}</h3>
                  <img src='{{restaurant.image}}'>
                  <p>{{restaurant.rating}}</p>
                  <p>{{restaurant.categories[0][0]}}</p>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="end center">
                  <md-button>See Review</md-button>
                </div>
                </md-card>
              </div>
            </div>
        </md-content>
      </md-tab>
      <md-tab label="all">
        <md-content class="md-padding">
          <h1 class="md-headline">All</h1>
            <div id="wishlist" class="card" ng-cloak ng-model="mainServerReply">
              <div class='md-padding' layout="row" flex>
                <md-card style="width: 350px;" ng-repeat="restaurant in mainServerReply" flex>
                <md-card-content>
                  <h3>{{restaurant.name}}</h3>
                  <img src='{{restaurant.image}}'>
                  <p>{{restaurant.rating}}</p>
                  <p>{{restaurant.categories[0][0]}}</p>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="end center">
                  <md-button>Details</md-button>
                </div>
                </md-card>
              </div>
            </div>
        </md-content>
      </md-tab>
      <md-tab label="friends">
        <md-content class="md-padding">
          <h1 class="md-headline">Friends</h1>
          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>










</div>
