
<div ng-controller="ReviewCtrl" class="md-padding" ng-cloak>
  <h1>{{message}}</h1>
  <div class='reviewBox'>
    <h3>{{targetRestaurant}}</h3>
    <h3 class="md-title">Restaurant Review</h3>
    <div>
      <md-input-container>
        <label>Rating:</label>
        <md-select ng-model="selectedRating" md-selected-text="getSelectedRating()">
          <md-optgroup>
            <md-option ng-value="rating" ng-repeat="rating in ratings">{{rating}}</md-option>
           </md-optgroup>
        </md-select>
      </md-input-container>
      <md-input-container>
        <label>Price Range:</label>
        <md-select ng-model="selectedPrice" md-selected-text="getSelectedPrice()">
          <md-optgroup>
            <md-option ng-value="price" ng-repeat="price in prices">{{price}}</md-option>
           </md-optgroup>
        </md-select>
      </md-input-container>
    </div>
    <div>
      <textarea class='reviewTextBox' type='text' name='review' ng-model='textReview' ng-maxlength='140' placeholder="Enter notes here"></textarea>
      <md-button class="md-raised" ng-click="submitReview()">Submit</md-button>
    </div>
  </div>
</div>
<!-- 
<h4>Reviews</h4>
<blockquote ng-repeat="review in restuarant.reviews"></blockquote>

<form name="reviewForm">
  <blockquote>
    <b>Rating: {{review.rating}}</b>
    {{review.body}}
    <p>{{review.userName}}</p>
  </blockquote>
  <select ng-model="review.rating">
    <option value="1">Really Bad</option>
    <option value="2">Bad</option>
    <option value="3">Meh</option>
    <option value="4">Good</option>
    <option value="5">Really Good</option>
  </select>
  <select ng-model="review.price">
    <option value="1">$</option>
    <option value="2">$$</option>
    <option value="3">$$$</option>
    <option value="4">$$$$</option>
  </select>
  <textarea ng-model="review.body"></textarea>
  <label>by:</label>
  <p ng-model="review.author"></p>
</form>
 -->
