<div class="jumbotron" ng-controller="SearchCtrl">
  <h1>{{welcome}}</h1>
  <md-input-container>
        <label>Restaurant: </label>
        <input ng-model="searchInput.term">
  </md-input-container>
  <md-input-container>
        <label>City: </label>
        <input ng-model="searchInput.location">
  </md-input-container>
  <i class="material-icons" ng-click='submitSearch()'>search</i>

  <div id="searchResults" class="card" ng-cloak ng-model="serverReply">
    <div class='md-padding' layout="horizontal">
        <md-card class="cards" ng-repeat="restaurant in serverReply" layout-wrap>
          <md-card-content class="restaurantTile">
            <h2>{{restaurant.name}}</h2>
            <img class="restaurantImg" src='{{restaurant.image}}'>
            <p><span style="font-weight:bold">Yelp Rating:</span> {{restaurant.yelp_rating}}</p>
            <p><span style="font-weight:bold">Category:</span> {{restaurant.categories[0]}}, {{restaurant.categories[1]}}</p>
          </md-card-content>
          <div class="md-actions" layout="row" layout-align="end center">
            <md-button class="addBtn" ng-model='userChoice' ng-click='sendUserChoice(restaurant)'>+ Wishlist</md-button>
            <md-button class="infoBtn" ng-model='userChoice' ng-click='sendUserChoice(restaurant)'>More Info</md-button>

          </div>
        </md-card>
      </div>
  </div>

</div>

