<div class="jumbotron" ng-controller="SearchCtrl">
  <h1>{{welcome}}</h1>
  <md-input-container>
        <label>Restaurant: </label>
        <input ng-model="searchInput.term">
  </md-input-container>
  <md-input-container>
        <label>City: </label>
        <input ng-model="searchInput.location">
  </md-input-container>
  <i class="material-icons" ng-click='submitSearch()'>search</i>

  <div id="searchResults" class="card" ng-cloak ng-model="serverReply">
    <div class='md-padding' layout="horizontal">
        <md-card class="cards" ng-repeat="restaurant in serverReply" layout-wrap>
          <md-card-content>
            <h3>{{restaurant.name}}</h3>
            <img src='{{restaurant.image}}'>
            <p>{{restaurant.yelp_rating}}</p>
            <p>{{restaurant.categories[0]}}</p>
          </md-card-content>
          <div class="md-actions" layout="row" layout-align="end center">
            <md-button ng-model='toAdd' ng-click='addToRestaurants(restaurant)'>Add</md-button>
          </div>
        </md-card>
      </div>
  </div>

</div>

